
  
  @media (max-width: 768px) {
    #logo{
    width: 3em;
}

#nav-dropdown{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: white;
}
.nav-sections{
    display: none;
    position: fixed;
    top:40px;
    right: 10px;
    border: 1px solid white;
flex-direction: column;
background: linear-gradient(225deg, rgba(19,17,16,255), #24344b);
}


#nav-dropdown:hover .nav-sections {
    display: flex; 
}

.hero-section{
    
    flex-direction: column;
    align-items: center;
}

.HeroContent {
    padding: 50px 5px;
    flex:none;
}

.SideImg {
    margin-right: 0px;
}

.heroline{
    padding: 0px 5px;
    font-size: 1.25em;
    
}
  }
